In [2]:
import os
import pandas as pd
import numpy as np
from util import load_dataframe

In [13]:
DF_PATH = os.environ['HOME'] + '/ws/git/src/extern/data/ingestion/covid-surge-who.h5'
RES_LIST = ['Level', 'N95 + Mask', 'N95', 'ASTM 3 Mask', 'ASTM 1-2 Mask', 'Non ASTM Mask', 'Face Shield', 'Gowns', 'Gloves', 'Shoe Covers']
df = load_dataframe(DF_PATH)

def format_res(df):
    df.columns = df.iloc[5]
    df = df.iloc[6:13]
    df = df[RES_LIST]
    df = df.fillna(0)
    return df

def df_to_arr(df):
    arr = np.array(df)
    arr_labs = list(df.columns)
    return arr_labs, arr

In [14]:
arr_labs, arr = df_to_arr(format_res(df))

In [15]:
format_res(df)

5,Level,N95 + Mask,N95,ASTM 3 Mask,ASTM 1-2 Mask,Non ASTM Mask,Face Shield,Gowns,Gloves,Shoe Covers
6,0,0.000000,0.00,0.000000,0.0,0.00,0.00,0.000000,0.0,0.00
7,1,0.000000,0.00,0.000000,0.0,1.00,0.02,0.010000,0.5,0.00
8,2,0.000000,0.00,0.000000,0.0,2.00,0.04,0.020000,1.0,0.00
9,3,0.000000,0.00,0.000000,1.0,2.00,0.08,0.030000,2.0,0.05
10,4,0.000000,0.05,1.000000,0.0,3.00,0.12,0.045000,4.0,0.20
11,5,0.000000,0.10,2.000000,1.0,0.00,0.18,1.500000,8.0,0.40
12,6,1.181059,0.00,3.514588,1.5,0.05,0.27,2.573647,12.0,0.60